java 21.0.2

poetry 1.3.1
python miniforge3-24.11.3-0

python graalpy-dev
python graalpy-community-23.1.0
python graalpy-22.3.0
python graalpython-22.2.0
python 3.14.0a5
python 3.14t-dev
python activepython-3.6.0
python anaconda3-5.3.1
python anaconda3-2024.10-1
python cinder-3.10-dev
python ironpython-2.7.7
python jython-2.5.4-rc1
python jython-2.7.3
python mambaforge-pypy3
python mambaforge-24.11.0-1
python micropython-1.21.0
python miniconda3-3.7-22.11.1-1
python miniforge3-24.11.3-0
python nogil-3.9.10-1
python pypy-c-jit-latest
python pypy3.11-7.3.18-src
python pypy3.10-7.3.18
python pyston-2.3.5
python stackless-3.4-dev
python stackless-3.7.5

